.kelso{
    height:1200px;
    background:url(images/kelso-screenshot.png) fixed;
    background-size:100% 100%;
    position:relative;
    width: 100%;
}

.schoolitup{
    height:1200px;
    background:url(images/schoolitupPhotosScreenshot.png) fixed;
    background-size:100% 100%;
    position:relative;
    width: 100%;
}

.crumyum-landing{
    height:1200px;
    background:url(images/crumyumScreenshot.png) fixed;
    background-size:100% 100%;
    position:relative;
    width: 100%;
}

.crumyum-recipe{
    height:1200px;
    background:url(images/crumyumRecScreenshot.png) fixed;
    background-size:100% 100%;
    position:relative;
    width: 100%;
}

.rmc-con{
    height:1200px;
    background:url(images/rmcScreenshot.png) fixed;
    background-size:100% 100%;
    position:relative;
    width: 100%;
}

.bryvo-shot{
    height:1200px;
    background:url(images/bryvoScreenshot.png) fixed;
    background-size:100% 100%;
    position:relative;
    width: 100%;
}

.kyasto-fix{
    height:1200px;
    background:url(images/yeezyseason.gif) fixed;
    background-size:100% 100%;
    position:relative;
    width: 100%;
}

.vd4a-port{
    height:1200px;
    background:url(images/vd4aScreenshot.png) fixed;
    background-size:100% 100%;
    position:relative;
    width: 100%;
}